.block{
    height: 100%;
    width: 100%;
    background-image: url(../../../images/free_hexagon_pattern_02_by_black_light_studio-d65g32i.png);
    cursor: default;
    padding: 10px 50px;
    display: grid;
    grid-template-rows: 1fr 60px;
    grid-gap: 10px;
}