.block{
    flex: 1 1 auto;
    padding-top: 20px;
    box-sizing: border-box;
    background-image: url(../../../images/free_hexagon_pattern_02_by_black_light_studio-d65g32i.png);
    cursor: default;
}

.input{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
}

.input textarea{
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    outline: none;
    resize: none;
    border: 2px solid #77207D;
    border-right: none;
}

.button{
    flex: 1 1 auto;
    border: 2px solid #77207D;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .2s linear;
    cursor: pointer;
}

.button:hover{
    background-color: #E6FB71;
}

.chat{
    margin: auto;
    height: 80%;
    width: 90%;
    border: 2px solid #77207D;
    margin-bottom: 25px;
    background-color: white;
}

.button_file{
    display: block;
    background-image: url(https://cdn-images-1.medium.com/max/1200/1*19zdlV3KHXgy73OsiQbZQg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    width: 100%;
    cursor: pointer;
}

.imagesBlock{
    width: 30%;
}

.pictures{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.image{
    flex: 1 1 auto;
    background-size: contain;
    background-repeat: no-repeat;
}