.block{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text{
    position: absolute;
    top: 30%;
    font-size: 20px;
}

.line1{
    overflow: hidden;
    position: absolute;
    width: 99px;
    height: 99px;
    border: 12px solid red;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 4s linear infinite;
}

.line2{
    overflow: hidden;
    position: absolute;
    width: 75px;
    height: 75px;
    border: 12px solid aqua;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 3s linear infinite;
}

.line3{
    overflow: hidden;
    position: absolute;
    width: 51px;
    height: 51px;
    border: 12px solid yellow;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}