
.page{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}
.layout{
    margin: auto;
    height: 500px;
    position: relative;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

.button{
    margin-top: 30px;
    width: 160px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #77207D;
    background-color: #E6FB71;
    padding: 5px 30px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.05);
    transition: transform .1s linear;
}

.input{
    outline: none;
    border: 2px solid #77207D;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 15px;
    background-color: rgba(255, 192, 115, 0);
}

.title{
    border-bottom: 2px solid #77207D;
    padding: 10px 50px;
    margin-bottom: 70px;
}